<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Blog</title>
</head>
<body>
<header>
    <% if (name) { %>
    <div class="home-page">
        <div id="logo">
            <img src="/image/bootstrap.svg" alt="logo" id="logoImg">
            <a href="/home">log</a>
            <button type="button" id="createNewPost" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#createPost">Create new post</button>
        </div>
        <div class="header-el">
            <p class="user-name"><%= name %></p>
            <a href="/"><img src="/image/exit.svg" alt="Exit icon"></a>
        </div>
    </div>
    <% }else{ %>
        <div class="main-page">
            <div id="logo">
                <img src="/image/bootstrap.svg" alt="logo" id="logoImg">
                <p>log</p>
            </div>
        </div>
    <% } %>
</header>

