*{
    margin: 0;
}

body{
    background-color: #FFEFEF;
}

header{
    display: flex;
    justify-content: center;
    height: 60px;
    width: auto;
    background-color: #FD7A9B;
}

#logo{
    display: flex;
    position: absolute;
    gap: 2px;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

#logo img{
    height: 38px;
    width: 32px;
}

#logo p{
    font-size: 24px;
    margin: 6px 0px 0px 0px;
    color: aliceblue;
    font-family: Inter, sans-serif;
}

.main-page-el{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    gap: 5%;
}

.text-el{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
}

.text-content{
    display: block;
    width: 700px;
}

.text-content span{
    color: #BEBC22;
}

h1{
    font-family: 'Pacifico', sans-serif;
    font-size: 65px;
    color: #FD7A9B;
    margin-bottom: 10px;
}

h3{
    font-family: Inter, sans-serif;
    color: #FD7A9B;
}

#signUpBtn{
    width: 150px;
    height: 40px;
    background: #FD7A9B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #FD7A9B solid;
    color: #fff;
    cursor: pointer;
}

#signUpBtn:hover{
    background: #ff547f;
}

#logInBtn{
    width: 150px;
    height: 40px;
    background: #FFEFEF;
    border-radius: 20px;
    border: 2px #BEBC22 solid;
    color: #BEBC22;
    font-size: 14px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    cursor: pointer;
}

#logInBtn:hover{
    background: #BEBC22;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainImg {
    width: 550px;
    height: 500px;
}

.btn-primary{
    background-color: #BEBC22;
    border-color: #BEBC22;
}

.btn-primary:hover{
    background-color: #a5a30a;
    border-color: #a5a30a;
}

.modal-header{
    background-color: #BEBC22;
}

.modal-title{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    color: #807e0b;
}

.form-input{
    border: 2px #BEBC22 solid;
}

@media (max-width: 1350px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 16px;
    }

    .text-content {
        width: 600px;
    }

    .main-page-el{
        gap: 2%;
    }

    #mainImg {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 1050px) {
    #mainImg {
        display: none;
    }

    .main-page-el {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .main-page-el {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content{
        width: 98%;
    }
}