*{
    margin: 0;
}

body{
    background-color: #FFEFEF;
}

.main-page{
    display: flex;
    position: fixed;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #FD7A9B;
    z-index: 5;
}

.home-page{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #FD7A9B;
    z-index: 5;
}

#logo{
    display: flex;
    position: relative;
    gap: 2px;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

#logo img{
    height: 38px;
    width: 32px;
}

#logo a{
    font-size: 24px;
    margin: 0px;
    color: aliceblue;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

#logo p{
    font-size: 24px;
    margin: 0px;
    color: aliceblue;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

.header-el{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-el a img{
    width: 20px;
    height: 20px;
}

#createNewPost{
    border: none;
    padding-left: 10px;
    background-color: #FD7A9B;
    color: white;
}

#createNewPost:hover{
    color: #9e1b39;
}

.user-name{
    margin: 15px 15px 10px 0px;
    font-size: 20px;
    color: white;
    font-family: Inter, sans-serif;
}

.main-page-el{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;
}

.text-el{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
    min-height: 3em;
    line-height: 1.5em;
    white-space: normal;
}

.text-content{
    display: block;
    width: 700px;
}

.text-content span{
    color: #BEBC22;
}
.post-buttons{
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icons .icon{
    width: 25px;
    height: 25px;
}

h1{
    font-family: 'Pacifico', sans-serif;
    font-size: 65px;
    color: #FD7A9B;
    margin-bottom: 10px;
}

h3{
    font-family: Inter, sans-serif;
    color: #FD7A9B;
}

h4{
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    color: #FD7A9B;
}

#signUpBtn{
    width: 150px;
    height: 40px;
    background: #FD7A9B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px #FD7A9B solid;
    color: #fff;
    cursor: pointer;
}

#signUpBtn:hover{
    background: #ff547f;
}

#logInBtn{
    width: 150px;
    height: 40px;
    background: #FFEFEF;
    border-radius: 20px;
    border: 2px #BEBC22 solid;
    color: #BEBC22;
    font-size: 14px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    cursor: pointer;
}

#logInBtn:hover{
    background: #BEBC22;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainImg {
    width: 550px;
    height: 500px;
}

.btn-primary{
    background-color: #BEBC22;
    border-color: #BEBC22;
}

.btn-primary:hover{
    background-color: #a5a30a;
    border-color: #a5a30a;
}

.modal-header{
    background-color: #BEBC22;
}

.modal-title{
    color: white;
}

.modal-body{
    display: flex;
    width: 400px;
    gap: 10px;
    flex-direction: column;
    color: #807e0b;
}

.btn-edit-post {
    all: unset;
}

.btn-edit-post:focus,
.btn-edit-post:active {
    outline: none;
    background: none;
    box-shadow: none;
}

.icons a{
    padding: 5px;
}

.btn-edit-post:hover{
    all:unset;
    cursor: pointer;
}

.create-modal{
    width: 600px;
}

textarea{
    border: 2px #BEBC22 solid;
    height: 400px;
}

.form-input{
    border: 2px #BEBC22 solid;
}

.select-img{
    border: none;
}

.cards{
    padding: 80px 50px 0px 50px;
}

.view-post-el{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 5%;
}

@media (max-width: 1350px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 16px;
    }

    .text-content {
        width: 600px;
    }

    .main-page-el{
        gap: 2%;
    }

    #mainImg {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 1050px) {
    #mainImg {
        display: none;
    }

    .main-page-el {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .main-page-el {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content{
        width: 98%;
    }
}